<nav class="site-nav">
    <div class="site-brand">
        <a href="{{ '/' | relative_url }}" class="site-brand-link">
            <img src="{{ '/assets/images/logo/samskritaamritam-logo.png' | relative_url }}"
                 alt="संस्कृतामृतम्"
                 class="site-logo">
            <span class="site-name">संस्कृतामृतम्</span>
        </a>
    </div>

    <div class="site-links">
        <a href="{{ '/' | relative_url }}">Home</a>

        <a href="{{ '/sunday-classes' | relative_url }}">
            Sunday Classes
        </a>

        <a href="{{ '/saturday-7am' | relative_url }}">
            Saturday 7 AM
        </a>

        <a href="{{ '/saturday-9pm' | relative_url }}">
            Saturday 9 PM
        </a>

       <!-- <a href="{{ '/gita-chanting' | relative_url }}">
            Bhagavad Gita
        </a> --> 

        <div class="nav-dropdown">
          <button class="nav-dropdown-button"
          type="button"
          aria-expanded="false">
            Bhagavad Gita ▾
          </button>

          <div class="nav-dropdown-menu">
            <a href="{{ '/gita-dhyanam/' | relative_url }}">Gita Dhyanam</a>
            <a href="{{ '/gita-chapter-01/' | relative_url }}">Chapter 01</a>
            <a href="{{ '/gita-chapter-02/' | relative_url }}">Chapter 02</a>
          <!--
            <a href="{{ '/gita-chapter-03/' | relative_url }}">Chapter 03</a>
            <a href="{{ '/gita-chapter-04/' | relative_url }}">Chapter 04</a>
            <a href="{{ '/gita-chapter-05/' | relative_url }}">Chapter 05</a>
            <a href="{{ '/gita-chapter-06/' | relative_url }}">Chapter 06</a>
            <a href="{{ '/gita-chapter-07/' | relative_url }}">Chapter 07</a>
            <a href="{{ '/gita-chapter-08/' | relative_url }}">Chapter 08</a>
            <a href="{{ '/gita-chapter-09/' | relative_url }}">Chapter 09</a>
            <a href="{{ '/gita-chapter-10/' | relative_url }}">Chapter 10</a>
            <a href="{{ '/gita-chapter-11/' | relative_url }}">Chapter 11</a>
            <a href="{{ '/gita-chapter-12/' | relative_url }}">Chapter 12</a>
            <a href="{{ '/gita-chapter-13/' | relative_url }}">Chapter 13</a>
            <a href="{{ '/gita-chapter-14/' | relative_url }}">Chapter 14</a>
            <a href="{{ '/gita-chapter-15/' | relative_url }}">Chapter 15</a>
            <a href="{{ '/gita-chapter-16/' | relative_url }}">Chapter 16</a>
            <a href="{{ '/gita-chapter-17/' | relative_url }}">Chapter 17</a>
            <a href="{{ '/gita-chapter-18/' | relative_url }}">Chapter 18</a>
          -->
          </div>
        </div>

        <a href="#">
            Programs
        </a>
    </div>
</nav>
