body {
    margin: 0;
    font-family: "Noto Serif Devanagari", "Noto Serif", serif;
    line-height: 1.8;
    font-size: 20px;
}

.page {
    max-width: 850px;
    margin: 0 auto;
    padding: 2rem 1.25rem;
}

h1, h2, h3 {
    line-height: 1.4;
}

a {
    text-decoration: none;
}
